@media screen and (max-width:400px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;

    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .login-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-img {
        width: 100%;

    }

    .banner-text {
        width: 100%;
        
    }


    .grid-container {

        grid-template-columns: 1fr;

    }

    .banner-3-container {

        flex-direction: column;

    }

    .footer-containner {
        flex-direction: column;
        text-align: center;



    }


}