@media screen and (max-width:700px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;

    }

    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn{
        width: 100%;
        margin-bottom: 10px;

    } 
}