@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inconsolata:wght@700&family=Lato:wght@400;700&family=Open+Sans:wght@800&family=Poppins:wght@500;600;700&family=Space+Mono:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
}

* {
    font-family: 'Work Sans', sans-serif;
}

nav {

    background-color: #9376e8;
}

.nav-container {
    /* border: 2px solid red; */
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container {
    /* border: 2px solid green; */
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;

}


.logo-container img {
    /* border: 1px solid blue; */
    width: 86px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;

}

.logo-container p {
    font-size: 45px;
    /* font-size: 30px; */
}

.g-section {
    color: #FF42A5;
}

.amer-section {
    color: #0B0223;
    /* font-size: 45px;
font-weight: 700; */
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;


}

.nav-items-container a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;


}

.nav-items-container .login-btn {
    padding: 20px 20px;
    font-weight: 700;
    /* color:  #3C354F; */
    text-align: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    /* text-decoration: none; */

}

.fa-brands {
    width: 34px;
    height: 24px;
    color: #F61C0D;
}

/* 1st banner start */

.banner-container {
    /* background-color: gray; */
    border: 2px solid green;
    min-height: 300px;
    width: 1400px;
    margin: 50px auto 0;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    align-items: center;
    text-align: start;


}

.banner-text {
    width: 50%;
    /* text-align: start;
    align-items: center;  */
    /* gap: 20px; */

}

.h1 {
    color: #0B0223;
    /* text-align: center;  */
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.h2 {
    /* text-align: center;  */
    font-size: 95px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-description {
    color: #534C64;
    /* text-align: center;  */
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 
.banner-button {
    gap: 15px;
    background-color: transparent;
    padding: 10px 20px;

}
.banner-button-sign{
    background-color: #F61C0D;
    color: #0B0223;
} */
.banner-img {
    width: 50%;

}

.banner-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* banner-container ends */
.section-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

/* banner-container-2nd starts */
.banner-container-2 {
    /* background-color: gray; */
    border: 2px solid green;
    min-height: 300px;
    width: 1400px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    text-align: end;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner-img {
    width: 50%;

}

.banner-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.banner-text {
    width: 50%;
    /* text-align: end; */
    /* gap: 20px; */

}

.h1-2 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-description-2 {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-btn-2 {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
}

/* .banner-container-2 ends */

/* .Funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    
} */

/* grid container starts */
.grid-container {
    border: 2px solid green;
    min-height: 300px;
    width: 1400px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;

}

/* .P{
    
    
} */

/* play section starts */

.banner-3-container {
    /* background-color: #534C64; */
    border: 2px solid orangered;
    min-height: 300px;
    width: 1400px;
    margin: 50px auto 0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner-3-text {
    width: 50%;
}



.banner-3-moto {
    /* text-align: right; */
    font-size: 48px;
    font-weight: 700;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-3-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.banner-3-img {
    width: 50%;

}

.banner-3-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* button section */
.button-section {
    border: 2px solid red;
    min-height: 200px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.single-button {
    border: 1px solid green;
    flex-basis: 250px;
    background-color: #e893cf;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    background-color: white;
    gap: 20px;
    padding-left: 20px;
    align-content: center;
    justify-content: center;
}

.single-button img {
    width: 60px;
    height: 60px;
}

.game-type {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.button-section,
.h1 {
    font-size: 20;
}

/*  button section ends */

/* footer section starts */
.footer-containner {
    border: 2px solid green;
    min-height: 200px;
    width: 1400px;
    margin: 50px auto 0;
    background: #0B0223;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    gap: 30px;

}

.icons-container {
    width: 60;
    height: 40px;
    color: white;
}